.container {
  width: 1280px;
}

.main {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}